@model IEnumerable<BJM.ProgDec.BL.Models.Program>
<ul>
    @foreach(var programs in Model)
    {
        <li><a asp-controller="Declaration" asp-action="Browse"
        asp-route-id ="@programs.Id" >@programs.Description</a></li>
    }
    <li><a asp-controller="User" asp-action="Login">Login</a></li>
    <li><a asp-controller="User" asp-action="Logout">Logout</a></li>
    <li><a asp-controller="Declaration" asp-action="Index">All Declarations</a></li>
</ul>